<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>details for questions</title>
    </head>
    <body>
        <h1>{{ question.question_text }}</h1>

        {% if error_message %}
        <p>
            <strong>
                {{ error_message }}
            </strong>
        </p>
        {% endif %}

        <form action="{% url 'polls:vote' question.id %}" method="post" accept-charset="utf-8">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" value="{{ choice.id }}" id="choice{{ forloop.counter }}">
        <label for="choice{{ forloop.counter }}"> {{ choice.choice_text }}</label><br>   
        {% endfor %}
        <input type="submit" value="Vote" />
        </form>


    </body>
</html>
